@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  overflow-x: hidden; /* To avoid horizontal scrolling */
}
